html {
  /*background: url('./assets/background.png') no-repeat center center fixed;*/
  background: url('/assets/vecteezy_night-landscape-with-moonlight-over-the-hills-and-grass_35402224_921/vecteezy_night-landscape-with-moonlight-over-the-hills-and-grass_35402224-1.jpg') no-repeat center center fixed;
  box-sizing: border-box;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index:0;
  overflow: hidden;
}

h1 {
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 90px;
  color: white;
}

h2 {
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 40px;
  color: white;
  -webkit-text-stroke: 1px black;
}

#start {
    text-align: center;
    font-size: 30px;
}

#timer{
    color: white;
}

.grid {
  width: 600px;
  height: 400px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  flex-wrap: wrap;
  margin: 0 auto;
}

.hole {
  flex: 1 0 33.33%;
  overflow: hidden;
  position: relative;
}

.hole:after {
  display: block;
  /*grass is dark to match the background*/
  background: url("/assets/vecteezy_grass-silhouette-generative-ai_26912489.png") bottom center no-repeat;
  background-size:contain;
  content:'';
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: -40%;
  z-index: 2;
  pointer-events:none;
}

.mole {
  /*changed the mole to a zombie to fit the theme*/
  background:url('/assets/zombie.png') bottom center no-repeat;
  background-size: 40%;
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  /*transition: transform 0.5s;*/
  transition: all 1s;
  pointer-events:auto;
}

.hole.show .mole {
  top: 0;
  /*transform: scale(1.1);*/
}
